%h2.chapter
  %a{:href => book_page.path_from(self)}= book[:name]
  = number
.entries.chapter
  - verses.each do |verse|
    .entry.verse
      .anchor.number
        %a{:name => verse[:number], :href => verse[:number]}= verse[:number]
    .content.text= verse[:text]
