
%h1 Silent Voices Bible
%h3.quote "If God is male then male is God." -- Mary Daly

.entries.books
  - book_pages.each do |book|
    .entry.book
      .anchor= book.number
      .content
        %a{:href => book.path_from(self)}= book.name
