.header
  .inner
    .home_link
      %a{:href =>'../index.html'} Silent Voices

.container

  %h2 Silent Voices Bible

  .entries.books
    - book_pages.each do |book|
      .entry.book
        .anchor= book.number
        .content
          %a{:href => book.path_from(self)}= book.name
