
%h1 Silent Voices
%h3.quote "If God is male then male is God." -- Mary Daly

#explanation
  %h2 What is Silent Voices?
  %p
    The Christian bible is the most beloved text in the world;
    cherished by billions and central to religious and
    communal tradition. I, as a man, find my gender reflected through
    characters I can relate to.
    %a{:href => 'voices/index.html'} The Silent Voices Bible
    is a project to offer that same experience to the
    billions of faithful Christian women.


#popular
  %h2 Popular:
  %ul
    %li
      %a{:href => 'voices/.html'} The Prodigal Daughter
      %a{:href => 'voices/.html'} A 