#start_page
  #header
    .row
      .column.grid_9
        %h1 Silent Voices

  #container.row
    #explanation.box.column.grid_5
      %h2 What is Silent Voices?
      %p
        The Christian bible is the most beloved text in the world;
        cherished by billions and central to religious and
        communal tradition. I, as a man, find my gender reflected through
        characters I can relate to.
        %a{:href => 'voices/index.html'} The Silent Voices Bible
        is a project to offer that same experience to the
        billions of faithful Christian women.
        %a{:href => '#read_on'} read on &raquo

    .column.grid_4
      %h3.quote
        "If God is male
        %br
        then male is God."
        %br
        %span.attribution -- Mary Daly

    .column.grid_4
      %h2 Popular Stories
      %ul
        %li
          %a{:href => 'voices/.html'} The Prodigal Daughter
        %li
          %a{:href => 'voices/.html'} A Virtuous Man
        %li
          %a{:href => 'voices/40-matthew-005.html'} The Beautitudes
        %li


    .column.grid_9
      %hr
    .box.column.grid_3
      %h2 You might know
      %ul
        %li
          %a{:href => 'voices/43-john-003.html#016'} John 3:16
        %li
          %a{:href => 'voices/01-genesis-001.html#026'} Genesis 1
        %li
          %a{:href => 'voices/49-ephesians-005.html#022'} Ephesians 5
        %li
          %a{:href => 'voices/40-matthew-005.html'} Matthew 5

    .box.column.grid_6
      %p
        The Christian bible is the most beloved text in the world;
        cherished by billions and central to religious and
        communal tradition. I, as a man, find my gender reflected through
        characters I can relate to.
        %a{:href => 'voices/index.html'} The Silent Voices Bible
        is a project to offer that same experience to the
        billions of faithful Christian women.
