!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml",  'xmlns:fb' => "http://developers.facebook.com/schema/", 'xmlns:og' => 'http://opengraphprotocol.org/schema/' }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => 'google-site-verification', :content => 'tlUTVmiUzNZK97q42kXPczZLEILUOWEexFMRY0kbvv0' }
    %link{ :href => stylesheet_path, :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Bentham', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Neuton', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
  %body

    = yield

    #footer.row
      .column.grid_9
        Created by
        = succeed ',' do
          %a{:href => "http://jackcanty.com"} Jack
        send corrections and feedback to
        %em silentvoices at jackcanty dot com


  %script{:type => "text/javascript"}
    :erb
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-331450-16']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %script{:type => 'text/javascript'}
    :erb
      FB.Event.subscribe('edge.create', function(href, widget) {
        console.log(href, widget)
        _gaq.push(['_trackEvent', 'facebook', 'like', href])
      });
