
body {
  margin: 0;
  padding: 0;
  background-color: #FDFDFA;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.container {
  position: relative;
  width: 720px;
  margin: 1em auto;
}
div.nav {
  float: left;
  clear: both;
  margin: 1em auto;
}

div#facebook_like {
  position: absolute;
  right: -100px;
  top: 130px;
}

div.back_to_book {
  width: 720px;
  clear: both;
  margin: 0.5em auto 0 auto;
  text-align: center;
  color: #999;
}
div.back_to_book a {
  color: #333;
  font-weight: bold;
  font-size: 1.9em;
}
div.footer {
  width: 720px;
  padding: 0;
  clear: both;
  margin: 1em auto 4em auto;
  text-align: center;
  color: #999;
}
div.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #999;
}

div.prev_link,
div.home_link,
div.next_link {
  width: 240px;
  float: left;
  clear: none;
  height: 2em;
  text-align: center;
}
div.prev_link a,
div.home_link a,
div.next_link a {
  font-family: 'Bentham', Helvetica, serif;
  font-size: 1.3em;
  color: #666;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Neuton, Helvetica, serif;
  text-align: center;
}
h3.quote {
  color: #999;
}
div.entries {
  float: left;
  clear: both;
  margin-bottom: 1em;
}
div.entry {
  float: left;
  clear: both;
  margin-top: 0.25em;
}
div.entry .anchor {
  font-family: 'Bentham', Helvetica, serif;
  font-size: 1.2em;
  float: left;
  clear: left;
  width: 40px;
}
div.entry .content {
  font-family: Neuton, Helvetica, Georgia;
  float: left;
  clear: right;
  width: 679px;
}

div.entry.book {
  clear: none;
}
div.entry.book .content {
  font-size: 1.4em;
  width: 202px;
  clear: none;
}
div.entry.book .anchor {
  width: 30px;
  line-height: 2.5em;
  clear: none;
}
div.entry.chapter .anchor {
  width: 120px;
}
div.entry.chapter .content {
  width: 599px;
}