
body {
  margin: 0;
  padding: 0;
  background-color: #FDFDFA;
}

div.content {
  width: 720px;
  margin: 1em auto;
}

div.footer {
  width: 720px;
  margin: 0 auto;
  padding: 1.5em 0 6em 0;
  clear: both;
  text-align: center;
  color: #999;
}
div.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #999;
}

div.prev_link,
div.home_link,
div.next_link {
  width: 240px;
  float: left;
  clear: none;
  height: 2em;
  text-align: center;
}
div.prev_link a,
div.home_link a,
div.next_link a {
  font-family: 'Bentham', Helvetica, serif;
  font-size: 1.3em;
  color: #666;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Neuton, Helvetica, serif;
  text-align: center;
}
h3.quote {
  color: #999;
}
div.chapter {
  float: left;
  clear: both;
  margin-bottom: 1em;
}
.verse {
  float: left;
  clear: both;
  margin-top: 0.25em;
}
.verse .number {
  font-family: 'Bentham', Helvetica, serif;
  font-size: 1.2em;
  float: left;
  clear: left;
  width: 40px;
}
.verse .number a {
  text-decoration: none;
  color: #000;
}
.verse .text {
  font-family: Neuton, Helvetica, Georgia;
  float: left;
  clear: right;
  width: 679px;
}