/* ================ */
/* = The 1Kb Grid = */     /* 9 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 720px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}





body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #FDFDFA;
}

a {
  text-decoration: none;
  color: #55F;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3 {
  font-family: Neuton, Helvetica, serif;
  text-align: center;
}



/* page structure */

#header {
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 40px;
  border-bottom: 1px solid #FFF;
  background-color: #613714;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

#header h1 {
  text-align: left;
  margin: 80px 0 0 0;
  padding: 0;
  text-shadow: 1px 1px 2px #777;
  font-size: 45px;
  color: #FFF;
}
#header a {
  display: block;
  margin: 20px 0 0 0;
  padding: 0;
  text-shadow: 1px 1px 2px #777;
  font-size: 22px;
  color: #FFF;
}
#container {
  position: relative;
  width: 720px;
  margin: 1em auto;
  overflow: visible;
}
.nav {
/*  margin: 1em auto 0 auto;*/
}
div#facebook_like {
  position: absolute;
  right: -25px;
  top: 0px;
  text-align: right;
}

#footer {
  width: 720px;
  padding: 0;
  clear: both;
  margin: 1em auto 4em auto;
  text-align: center;
  color: #999;
}
#footer a {
  text-decoration: none;
  font-weight: bold;
  color: #999;
}

/* Start Page */

#start_page p {
  font-size: 1.2em;
  line-height: 1.8em;
  font-family: Neuton;
}
#start_page a.read_on {
  border: 10px inner #FDFDFA;
  background-color: #0A0;
  padding: 0 12px 3px 12px;
  color: #FFF;
  -moz-border-radius:10px;
  -webkit-border-radius:10px
}
#start_page a.read_on:hover {
  background-color: #1B1;
}
#start_page a.final {
  font-size: 1.8em;
}
#start_page h2 {
  text-align: left;
  color: #0A0;
}
#start_page #popular h2,
#start_page #popular ul {
  margin-left: 1.5em;
}
#start_page #teaser {
  display: none;
}
#start_page .large_quote {
  font-size: 2.2em;
  line-height: 1.5em;
}
#start_page .large_quote em {
  display: block;
  width: 100%;
}
#start_page .large_quote .attribution {
  display: block;
  width: 100%;
  text-align: right;
}
/* start page */
#start_page .quote {
  font-size: 32px;
  margin-bottom: 1em;
  text-align: right;
}
#start_page h2 {
  margin: 0.5em 0 0 0;
}
#start_page ul {
  font-size: 1.3em;
  line-height: 1.6em;
  margin-top: 0.5em;
}

/* Index Page */

#index_page h3 {
  text-align: left;
}
#index_page .testament {
  float: left;
  clear: both;
}
#index_page .group {
  width: 320px;
  float: left;
  margin-right: 20px;
}
#index_page .group h3{
  color: #0A0;
}
#index_page a.book_name_link {
  font-size: 1.4em;
}

/* navigation */

div.prev_link {
  text-align: right;
}
div.home_link {
  text-align: center;
}
div.next_link {
  text-align: left;
}
div.home_link h2 {
  margin-top: -0.25em;
}
.nav a {
  font-family: 'Bentham', Helvetica, serif;
  font-size: 1.3em;
  color: #666;
  text-decoration: none;
}

/* content */

div.entries {
  float: left;
  clear: both;
  margin-bottom: 1em;
}
div.entry {
  float: left;
  clear: both;
  margin-top: 0.25em;
}
div.entry .anchor {
  font-family: 'Bentham', Helvetica, serif;
  font-size: 1.2em;
  float: left;
  clear: left;
  width: 40px;
}
div.entry .content {
  font-family: Neuton, Helvetica, Georgia;
  float: left;
  clear: right;
  width: 679px;
}

div.entry.book {
  clear: none;
}
div.entry.book .content {
  font-size: 1.4em;
  clear: none;
  width: auto;
}
div.entry.book .anchor {
  line-height: 2.5em;
  clear: none;
}
div.entry.chapter .anchor {
  width: 120px;
}
div.entry.chapter .content {
  width: 599px;
}

